<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FunctionApproximation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FunctionApproximation.Properties.Settings>
            <setting name="NumHL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Layer1" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Layer2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Layer3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Learning" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Function" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Performance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Noise" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Iteration" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Err" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="Timer" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LearningRate" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Beta" serializeAs="String">
                <value>0.5</value>
            </setting>
        </FunctionApproximation.Properties.Settings>
    </userSettings>
</configuration>